<template>
  <div class="c-app flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <CInput
                    placeholder="Email"
                    type="email"
                    autocomplete="email"
                    v-model="email"
                    prepend="@"
                  >
                  </CInput>
                  <CInput
                    placeholder="Password"
                    type="password"
                    autocomplete="curent-password"
                    v-model="password"
                  >
                    <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                  </CInput>
                  <CRow>
                    <CCol col="6" class="text-left">
                      <CButton color="primary" class="px-4" @click="loginClick">Login</CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard
              color="primary"
              text-color="white"
              class="text-center py-5 d-md-down-none"
              body-wrapper
            >
              <CCardBody>
                <h2>Sign up</h2>
                <CButton
                  color="light"
                  variant="outline"
                  size="lg"
                  to= '/pages/register'
                >
                  Register Now!
                </CButton>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import {login} from '../../core/services/userCrud'
export default {
  name: 'Login',
  data () {
    return{
      email: "",
      password: "",
    }
  }, 
  methods: {
  	loginClick: function(){
      let payload = {
        email: this.email, password: this.password
      }
    	login(payload)
      .then(response => {
        localStorage.setItem("loggeduser", JSON.stringify(response));
        this.$router.push({ path : '/' });
        })
      .catch(error => alert(error.response.data.error))
    },
  }
}
</script>
