<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <CInput
                  placeholder="Email"
                  autocomplete="email"
                  v-model="email"
                  prepend="@"
                />
                <CInput
                  placeholder="Password"
                  type="password"
                  autocomplete="new-password"
                  v-model="password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CButton color="success" @click="registerClick" block>Create Account</CButton>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import {register} from '../../core/services/userCrud'
export default {
  name: 'Register',
  data () {
    return{
      email: "",
      password: "",
    }
  },
  methods: {
  	registerClick: function(){
      let payload = {
        email: this.email, password: this.password
      }
    	register(payload)
      .then(response => {
        alert("registering success")
        this.$router.push({ path : '/pages/login' });
        })
      .catch(error => alert(error.response.data.error))
    },
  }
}
</script>
