<template>
  <CRow>
    <CCol class="mh-4" col="12" xl="12" lg="12" md="12" sm="12" xs="12">
      <CCard>
        <CCardHeader>
          Create New User
        </CCardHeader>
        <CCardBody>
          <CForm>
                <CInput
                  placeholder="Name"
                  v-model="name"
                />
                <CInput
                  placeholder="Job"
                  v-model="job"
                >
                </CInput>
                <CButton class="mr-2" color="primary" @click="goBack">Back</CButton>
                <CButton color="success" @click="submit">Create User</CButton>
              </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import {createUser} from '../../core/services/userCrud'
export default {
  name: 'CreateUser',
  data () {
    return{
      name: "",
      job: "",
    }
  },
  methods: {
    goBack() {
      this.$router.push({path: '/users'})
    },
  	submit: function(){
      let payload = {
        name: this.name, job: this.job
      }
    	createUser(payload)
      .then(response => {
        alert("create user success")
        this.$router.push({ path : '/users' });
        })
      .catch(error => alert(error.response.data.error))
    },
  }
}
</script>
