<template>
  <CRow>
    <CCol class="mh-4" col="12" xl="12" lg="12" md="12" sm="12" xs="12">
      <CCard>
        <CCardHeader>
          Update user {{ $route.params.id }}
        </CCardHeader>
        <CCardBody>
          <CForm>
                <CInput
                  placeholder="Name"
                  v-model="name"
                />
                <CInput
                  placeholder="Job"
                  v-model="job"
                >
                </CInput>
                <CButton class="mr-2" color="primary" @click="goBack">Back</CButton>
                <CButton color="success" @click="submit">Submit Update</CButton>
              </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import {updateUser, getUser} from '../../core/services/userCrud'
export default {
  name: 'UpdateUser',
  data () {
    return{
      name: "",
      job: "",
    }
  },
    mounted() {
        getUser(this.$route.params.id)
        .then(response => {
            this.name = response.data.data.first_name
        })
        .catch(error => alert(error.response.data.error))
    },
  methods: {
    goBack() {
      this.$router.push({path: '/users'})
    },
  	submit: function(){
      let payload = {
        name: this.name, job: this.job
      }
        updateUser(payload)
      .then(response => {
        alert("update user success")
        this.$router.push({ path : '/users' });
        })
      .catch(error => alert(error.response.data.error))
    },
  }
}
</script>
