<template>
  <CRow>
    <CCol class="mh-4" col="12" xl="12" lg="12" md="12" sm="12" xs="12">
      <CCard>
        <CCardHeader>
          User id:  {{ $route.params.id }}
        </CCardHeader>
        <CCardBody>
          <CDataTable
            striped
            small
            fixed
            :items="visibleData"
            :fields="fields"
          />
        </CCardBody>
        <CCardFooter>
          <CButton class="mr-2" color="primary" @click="goBack">Back</CButton>
          <CButton class="mr-2" color="danger" @click="Delete">Delete</CButton>
          <CButton color="success" @click="edit">Edit</CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import usersData from './UsersData'
import {getUser, deleteUser} from '../../core/services/userCrud'
export default {
  name: 'User',
  data () {
    return {
      userInfo: null,
      visibleData : null,
      fields: [
        { key: 'key', label: 'field', _classes: 'font-weight-bold' },
        { key: 'value', label: 'info' },
      ],
    }
  },
  mounted() {
    	getUser(this.$route.params.id)
      .then(response => {
          this.userInfo = response.data.data
          let temp = []
          Object.keys(response.data.data).forEach( key => {
            temp.push({"key": key, "value": response.data.data[key]})
          })
          this.visibleData = temp
        })
      .catch(error => alert(error.response.data.error))
  },
  methods: {
    goBack() {
      this.$router.push({path: '/users'})
    },
    edit() {
      this.$router.push({path: `/userCreate/${this.$route.params.id}`})
    },
    Delete() {
      getUser(this.$route.params.id)
      .then(response => {
          alert('delete success')
          this.$router.push({path: '/users'})
        })
      .catch(error => alert(error.response.data.error))
      
    }
  }
}
</script>
