<template>
  <CRow>
    <CCol  class="mh-4" col="12" xl="12" lg="12" md="12" sm="12" xs="12">
      <CCard>
        <CCardHeader>
        <CButton class="ml-2 mr-2" color="primary" @click="adduser">Add User</CButton>
        </CCardHeader>
        <CCardBody>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            clickable-rows
            @row-clicked="rowClicked"
          >
            <template #avatar="data">
              <td>
                <div class="c-avatar">
                  <img
                    v-bind:src="data.item.avatar"
                    class="c-avatar-img "
                  />
                </div>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
        <CCardFooter>
          
        </CCardFooter>  
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import {getListUser} from '../../core/services/userCrud'
export default {
  name: 'Users',
  data () {
    return {
      items: null,
      fields: [
        { key: 'id', label: 'id', _classes: 'font-weight-bold' },
        { key: 'email' },
        { key: 'first_name' },
        { key: 'last_name' },
        { key: 'avatar' }
      ],
      activePage: 1
    }
  },
  mounted() {
    	getListUser("pages=2")
      .then(response => {
        console.log(response.data.data)
        this.items = response.data.data
        })
      .catch(error => alert(error.response.data.error))
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  methods: {
    adduser() {
      this.$router.push({path: '/userCreate'})
    },
    rowClicked (item, index) {
      this.$router.push({path: `users/${index + 1}`})
    },
  }
}
</script>
